.footer {
  height: 152px;
  position: relative;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align-right {
  align-items: flex-end;
}

.footer__menu {
  top: 65px;
  left: 250px;
}

.footer__contacts {
  /* position: relative; */
  top: 71px;
  right: -780px;
}

.contacts__free-call {
  /* position: relative;
    top: -29px;
    right: -196px; */
  margin-bottom: 6px;
}

.footer__container-content {
  border-top: 1px solid #ffffff;
}

.footer__container-content {
  height: 140px;
  margin-top: 12px;
}

.inner-footer__container {
  padding: 45px 0;
}

.inner-footer {
  margin-top: auto;
}

.footer-tel {
  /* position: relative; */
  top: -14px;
  right: -75px;
}
