.inner__section {
    background: #fff;
    color:#1A1B1E;
    padding: 95px 0;
  }


.inner-section--bg--grey {
    background: #F4F5F5;
}


.inner__section-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(1);
}


.partners {
    display: flex;
    flex-wrap: wrap;
    margin-left: -46px;
}

.partners__link:hover {
    filter: grayscale(0);
    transition: .3s;
}























































/* .sectiom__partners {
    min-width: 1140px;
}


.partners__list {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
}

.partners__item {
    margin-left: 50px;
    margin-bottom: 50px;
    filter: grayscale(1);
}

.partners__item:hover{
    filter: grayscale(0);
    transition: .3s;
}

.partners__item:nth-child(4n+1){
    margin-right: 0px;
} */

