.separator {
  background: url("../../img/couple.png") ;
  background-position: center;
  background-size: 1%, 100%;
  background-repeat: no-repeat;
  min-height: 363px;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator__content {
  min-width: 40%;

}

.separator__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
  color: #fff;
}

