.separator {
  background-image: url(../../img/Rectangle.png) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size:100% 100%;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.separator__content {
  
  display: flex;
  align-items: center;
}

.separator__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
  color: #fff;
}

.separator__image {
  width: 478px;
  height: 363px;
  align-items: flex-end;
}

 