.social {
  /* position: absolute;
  top: 53px;
  right: 300px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 74px;
}

.social__item {
  margin-right: 10px;
  width: 36px;
  height: 36px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__list {
  display: flex;
  text-decoration: none;
  background: center center no-repeat;
  margin-bottom: 42px;
}


.socials__link {
  display: flex;
  text-decoration: none;
  width: 36px;
  height: 36px;
}



.socials__link-telegram {
  width: 36px;
  height: 36px;
  position: relative;
}

.socials__link-telegram::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-243%, -4%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/sprites.png);
  background-position: -10px -122px;
}

.socials__link-telegram:hover::after{
  background-position: -10px -66px;;
}

/* вк */

.socials__link-vk {
  width: 36px;
  height: 36px;
  position: relative;
}


.socials__link-vk::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-256%, -5%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/sprites.png);
  background-position: -66px -122px;
}

.socials__link-vk:hover::after{
  background-position: -66px -66px;
}

/* рожакнига */

.socials__link-f {
  width: 36px;
  height: 36px;
  position: relative;
}


.socials__link-f::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-144%, -8%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/sprites.png);
  background-position: -122px -10px;
}

.socials__link-f:hover::after{
  background-position: -10px -10px;
}

/* insta */

.socials__link-insta {
  width: 36px;
  height: 36px;
  position: relative;
}


.socials__link-insta::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-32%, -9%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/sprites.png);
  background-position: -122px -66px;
}

.socials__link-insta:hover::after{
  background-position: -66px -10px;
}






























/* 
.social__item-telegram-hover .socials__link {
  background-image: url(../../img/icons/telegram__icon.svg);
}

.social__item-telegram-hover .socials__link:hover{
  background-image: url(../../img/icons/telegram_hover.png);
}

.social__item-vk-hover .socials__link {
  background-image: url(../../img/icons/vk__icon.svg);
}

.social__item-vk-hover .socials__link:hover {
  background-image: url(../../img/icons/vk_hover.png);
}

.social__item-f-hover .socials__link {
  background-image: url(../../img/icons/f__icon.svg);
}

.social__item-f-hover .socials__link:hover{
  background-image: url(../../img/icons/f_hover.png);
}

.social__item-insta-hover .socials__link{
  background-image: url(../../img/icons/insta__icon.svg);
}

.social__item-insta-hover .socials__link:hover{
  background-image: url(../../img/icons/in_hover.png);
} */



 