.trips {
  margin-bottom: 51px;
  position: relative;
}

.trips__title-text {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
  position: absolute;
  top: -111px;
  right: 878px;
}

.trips__title-icon {
   
  margin-left: 15px;
}
 

.trips__list {
  margin-bottom: 127px;
}

.trips__item {
  min-height: 470px;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 18px;
  width: 362px;
}

.trips__item:last-child {
  margin-right: 0;
}

.trips__item-head {
  min-height: 162px;
  margin-bottom: -15px;
}

.trips__item-content {
  padding: 26px 26px;
  color: #000;
  display: block;
}

.trips__item-subtitle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

.trips__item-feature {
  display: flex;
  vertical-align: top;
  width: 115px;
  margin-bottom: 23px;
}

.trips__item-feature:last-child {
  margin-right: 0;
}

.trips__item-text {
  margin-left: 15px;
  font-size: 16px;
  color: #666;
}

.trips__item-block {
  display: flex;
  margin-right: 28px;
  align-items: center;
}

.trips__button {
  margin-top: 24px;
  text-align: left;
}

.btn--color-white {
  background: #fff;
  color: #f5170e;
  border-color: #f5170e;
}

.btn--color-white:hover {
  background: #f5170e;
  color: #fff;
}
