body {
font-family: "Open Sans", Helvetica, sans-serif;
color: #fff;
font-size: 16px;
line-height: 1.42;
background: #031920;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;

}

* {
  box-sizing: border-box;
}

address {
  font-style: normal;
}


.main-page-wrapper{
  background: url(./img/headerIMG.png) center top no-repeat, url(./img/fone2.png) right bottom 307px no-repeat;

}



.container{
  margin: 0 auto;
  width: 1150px;
}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 150px;
}

.logo__link {
  display: block;
  position: absolute;
  top: 57px;
  left: 0;
}

.header__menu {
  position: absolute;
  top: 65px;
  left: 250px;
}

.contacts {
  position: absolute;
  top: 48px;
  right: 0;
}

.contacts__dropdown-title {
  position: absolute;
  top: 31px;
  right: 0;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 57px;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts {
  font-style: normal ;
  text-align: right;
}

.contacts__free-call {
  color: #9A9A9A;
  font-size: 11px;
}

.contacts__tel{
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__dropdown-title{ 
  font-size: 13px;
  text-decoration-line: underline;
  color: #FFF;
}











.preview {
  width: 400px;
  margin-bottom: 246px;
}


.preview__title {
font-size: 48px;
font-weight: bold;
line-height: 1.1;
margin-bottom: 18px;
}

.preview__text {
  font-size: 18px;
  margin-bottom: 51px;
}

.button {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 39px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
}

.button:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px 0px rgba(218, 1, 0, 0.30);
}



























.trips {
 margin-bottom: 138px;
 position: relative;
}

.trips__title-text {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}

.trips__title-icon {
  position: absolute;
  top: 14px;
  right: 850px;
  margin-left: 15px;
}

.trips__list {
margin-bottom: 127px;
}

.trips__item {
  min-height: 470px;
  background: #FFF;
  border-radius: 4px;
  display: inline-block;
  margin-right: 18px;
  width: 362px;
}

.trips__item:last-child{
  margin-right: 0;  
}

.trips__item-head {
  min-height: 162px;
  margin-bottom: -15px;
  
}


.trips__item-content{
  padding: 26px 26px;
  color: #000;
  display: block;
}

.trips__item-subtitle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

.trips__item-feature {
  display: flex;
  vertical-align:top;
  width: 115px;
  margin-bottom: 23px;
}

.trips__item-feature:last-child {
  margin-right: 0;
}

.trips__item-text {
  margin-left: 15px;
  font-size: 16px;
  color: #666;
}

.trips__item-block {
  display: flex;
  margin-right: 28px;
  align-items: center
}

/* .trips__item-icon {
  margin-right: 15px;
} */

 
.trips__button {
  margin-top: 24px;
  text-align: left;
}

.btn--color-white {
  background: #FFF;
  color: #F5170E;

}

.btn--color-white:hover {
  background: #F5170E;
  color: #FFF;
}

.news__list{
  margin-bottom: 55px;
}










































.news__title {
  font-size: 36px;
  line-height: normal;
}

.news__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; 
  margin-bottom: 18px;
}

.news__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.news__info {
  font-size: 16px;
  font-weight: 400;
}

.news__item {
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 18px;
}

.news__bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 140px;
}




.paginator {
  text-align: center;
  margin-bottom: 150px;

}

.paginator__display, .paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 26px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__link {
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
}

.paginator__item--active {
  background-color: #fff;
  color: #F5170E;
  border-radius: 26px;
}

.paginator__item :hover{
  background-color: #fff;
  color: #F5170E;
  border-radius: 26px;
}




.about {
  margin-bottom: 38px;
}


.about::before, .about__info{
  display: inline-block;
  vertical-align: top;
}


.about::before {
  content: "";
  width: 488px;
  height: 502px;
  background-image: url(./img/gates.png);
  object-fit: cover;
}

.about__info {
  content: "";
  background-image: url(./img/about.png);
  padding: 80px 98px;
  width: 780px;
  height: 450px;
  margin-left: 358px;
  margin-top: -401px;
  border-radius: 5px;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 37px;
  color: #000;
}

.about_text {
  margin-bottom: 42px;
  color: #060606;
}

.about_text p {
  margin-bottom: 20px;
}

.about_text p:last-child {
  margin-bottom: 0;
}

.about__btn {
  margin-top: 43px;
}




.footer {
  height: 152px;
  position: relative;
}


.footer__menu {
  position: absolute;
  top: 65px;
  left: 250px;
}

.footer__contacts {
  position: relative;
  top: 71px;
  right: -780px;
}

.contacts__free-call{
  position: relative;
  top: -29px;
  right: -196px;
  margin-bottom: 6px;
}


.footer__container-content {
  border-top: 1px solid #FFFFFF;

}

.social__list {
  position: absolute;
  top: 53px;
  right: 300px;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__list {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
 background: center center no-repeat;
}

.social__item--icon--telegram .socials__link{
  background-image: url(./img/telegram__icon.svg);
  
}

.social__item--icon--telegram .socials__link:hover{
  background-image: url(./img/telegram_hover.png);
  
}


.social__item--vk .socials__link{
  background-image: url(./img/vk__icon.svg);
}

.social__item--vk .socials__link:hover{
  background-image: url(./img/vk_hover.png);
}


.social__item--f .socials__link{
  background-image: url(./img/f__icon.svg);
}

.social__item--f .socials__link:hover{
  background-image: url(./img/f_hover.png);

}

.social__item--insta .socials__link{
  background-image: url(./img/insta__icon.svg);
}

.social__item--insta.socials__link:hover{
  background-image: url(./img/in_hover.png);
}