.footer {
  height: 152px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align-right {
  align-items: flex-end;
}

.footer__menu {
  top: 65px;
  left: 250px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__free-call {
  align-items: center;
  margin-left: 26px;
}

.footer__container-content {
  border-top: 1px solid #ffffff;
}

.footer__container-content {
  height: 140px;
  margin-top: 12px;
}

.inner-footer__container {
  padding: 45px 0;
}

.inner-footer {
  margin-top: auto;
}

.footer-tel {
  align-items: center;
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 400;
  line-height: 20px; 
}
