body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #031920;
    }
    
    a {
      color: inherit;
    }
    
    ul {
      padding: 0;
      margin: 0;
    }
    
    ul li {
      list-style: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      font-weight: normal;
    }
    
    p {
      margin-top: 0;
    
    }
    
    * {
      box-sizing: border-box;
    }
    
    img {
      display: block;
    }

    address {
      font-style: normal;
    }
    
    
    .main-page-wrapper{
      background: url(../../img/headerIMG.png) center top no-repeat, url(../../img/fone2.png ) right bottom 307px no-repeat;
    
    }
    
  .services-page-wprpper {
    background: url(../../img/headline\ services.png) center top no-repeat;
  }

    .container{
      margin: 0 auto;
      width: 1150px;
    }
    
    .page-content {
      background: #FFFFFF;
      color: #303030;
      padding: 40px 0;
      display: flex;
    }

    .container__partners {
      background: #F4F5F5;
    }

    .preview__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 600px;
    }

    